.vs/ProjectEvaluation/rectangles.metadata.v5.1
.vs/ProjectEvaluation/rectangles.projects.v5.1
.vs/Rectangles/DesignTimeBuild/.dtbcache.v2
.vs/Rectangles/FileContentIndex/f2817fc6-e33b-49ed-a300-9b466cae39d4.vsidx
.vs/Rectangles/FileContentIndex/read.lock
.vs/Rectangles/v17/.futdcache.v2
.vs/Rectangles/v17/.suo
.vs/Rectangles/v17/TestStore/0/000.testlog
.vs/Rectangles/v17/TestStore/0/testlog.manifest
RectanglesDataAccess/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
RectanglesDataAccess/obj/Debug/net6.0/RectanglesDataAccess.AssemblyInfo.cs
RectanglesDataAccess/obj/Debug/net6.0/RectanglesDataAccess.AssemblyInfoInputs.cache
RectanglesDataAccess/obj/Debug/net6.0/RectanglesDataAccess.csproj.AssemblyReference.cache
RectanglesDataAccess/obj/Debug/net6.0/RectanglesDataAccess.GeneratedMSBuildEditorConfig.editorconfig
RectanglesDataAccess/obj/Debug/net6.0/RectanglesDataAccess.GlobalUsings.g.cs
RectanglesBusiness/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
RectanglesBusiness/obj/Debug/net6.0/RectanglesBusiness.AssemblyInfo.cs
RectanglesBusiness/obj/Debug/net6.0/RectanglesBusiness.AssemblyInfoInputs.cache
RectanglesBusiness/obj/Debug/net6.0/RectanglesBusiness.csproj.AssemblyReference.cache
RectanglesBusiness/obj/Debug/net6.0/RectanglesBusiness.GeneratedMSBuildEditorConfig.editorconfig
RectanglesBusiness/obj/Debug/net6.0/RectanglesBusiness.GlobalUsings.g.cs
Rectangles/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Rectangles/obj/Debug/net6.0/RectanglesUI.AssemblyInfo.cs
Rectangles/obj/Debug/net6.0/RectanglesUI.AssemblyInfoInputs.cache
Rectangles/obj/Debug/net6.0/RectanglesUI.csproj.AssemblyReference.cache
Rectangles/obj/Debug/net6.0/RectanglesUI.GeneratedMSBuildEditorConfig.editorconfig
Rectangles/obj/Debug/net6.0/RectanglesUI.GlobalUsings.g.cs
Rectangles/bin/Debug/net6.0/FluentValidation.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Binder.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Configuration.CommandLine.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Configuration.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Configuration.FileExtensions.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Json.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Configuration.UserSecrets.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Physical.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.FileSystemGlobbing.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Hosting.Abstractions.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Hosting.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Logging.Configuration.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Logging.Console.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Logging.Debug.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Logging.EventLog.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Logging.EventSource.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
Rectangles/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
Rectangles/bin/Debug/net6.0/RectanglesBusiness.dll
Rectangles/bin/Debug/net6.0/RectanglesBusiness.pdb
Rectangles/bin/Debug/net6.0/RectanglesDataAccess.dll
Rectangles/bin/Debug/net6.0/RectanglesDataAccess.pdb
Rectangles/bin/Debug/net6.0/RectanglesUI.deps.json
Rectangles/bin/Debug/net6.0/RectanglesUI.dll
Rectangles/bin/Debug/net6.0/RectanglesUI.exe
Rectangles/bin/Debug/net6.0/RectanglesUI.pdb
Rectangles/bin/Debug/net6.0/RectanglesUI.runtimeconfig.json
Rectangles/bin/Debug/net6.0/System.Diagnostics.EventLog.dll
Rectangles/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.dll
Rectangles/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.Messages.dll
Rectangles/obj/project.assets.json
Rectangles/obj/project.nuget.cache
Rectangles/obj/RectanglesUI.csproj.nuget.dgspec.json
Rectangles/obj/RectanglesUI.csproj.nuget.g.props
Rectangles/obj/RectanglesUI.csproj.nuget.g.targets
Rectangles/obj/Debug/net6.0/apphost.exe
Rectangles/obj/Debug/net6.0/RectanglesUI.assets.cache
Rectangles/obj/Debug/net6.0/RectanglesUI.csproj.CopyComplete
Rectangles/obj/Debug/net6.0/RectanglesUI.csproj.CoreCompileInputs.cache
Rectangles/obj/Debug/net6.0/RectanglesUI.csproj.FileListAbsolute.txt
Rectangles/obj/Debug/net6.0/RectanglesUI.dll
Rectangles/obj/Debug/net6.0/RectanglesUI.genruntimeconfig.cache
Rectangles/obj/Debug/net6.0/RectanglesUI.pdb
Rectangles/obj/Debug/net6.0/ref/RectanglesUI.dll
Rectangles/obj/Debug/net6.0/refint/RectanglesUI.dll
RectanglesDataAccess/obj/project.assets.json
RectanglesDataAccess/obj/project.nuget.cache
RectanglesDataAccess/obj/RectanglesDataAccess.csproj.nuget.dgspec.json
RectanglesDataAccess/obj/RectanglesDataAccess.csproj.nuget.g.props
RectanglesDataAccess/obj/RectanglesDataAccess.csproj.nuget.g.targets
RectanglesDataAccess/obj/Debug/net6.0/RectanglesDataAccess.assets.cache
RectanglesDataAccess/obj/Debug/net6.0/RectanglesDataAccess.csproj.CoreCompileInputs.cache
RectanglesDataAccess/obj/Debug/net6.0/RectanglesDataAccess.csproj.FileListAbsolute.txt
RectanglesDataAccess/obj/Debug/net6.0/RectanglesDataAccess.dll
RectanglesDataAccess/obj/Debug/net6.0/RectanglesDataAccess.pdb
RectanglesDataAccess/obj/Debug/net6.0/ref/RectanglesDataAccess.dll
RectanglesDataAccess/obj/Debug/net6.0/refint/RectanglesDataAccess.dll
RectanglesDataAccess/bin/Debug/net6.0/RectanglesDataAccess.deps.json
RectanglesDataAccess/bin/Debug/net6.0/RectanglesDataAccess.dll
RectanglesDataAccess/bin/Debug/net6.0/RectanglesDataAccess.pdb
RectanglesBusiness/obj/project.assets.json
RectanglesBusiness/obj/project.nuget.cache
RectanglesBusiness/obj/RectanglesBusiness.csproj.nuget.dgspec.json
RectanglesBusiness/obj/RectanglesBusiness.csproj.nuget.g.props
RectanglesBusiness/obj/RectanglesBusiness.csproj.nuget.g.targets
RectanglesBusiness/obj/Debug/net6.0/RectanglesBusiness.assets.cache
RectanglesBusiness/obj/Debug/net6.0/RectanglesBusiness.csproj.CopyComplete
RectanglesBusiness/obj/Debug/net6.0/RectanglesBusiness.csproj.CoreCompileInputs.cache
RectanglesBusiness/obj/Debug/net6.0/RectanglesBusiness.csproj.FileListAbsolute.txt
RectanglesBusiness/obj/Debug/net6.0/RectanglesBusiness.dll
RectanglesBusiness/obj/Debug/net6.0/RectanglesBusiness.pdb
RectanglesBusiness/obj/Debug/net6.0/ref/RectanglesBusiness.dll
RectanglesBusiness/obj/Debug/net6.0/refint/RectanglesBusiness.dll
RectanglesBusiness/bin/Debug/net6.0/RectanglesBusiness.deps.json
RectanglesBusiness/bin/Debug/net6.0/RectanglesBusiness.dll
RectanglesBusiness/bin/Debug/net6.0/RectanglesBusiness.pdb
RectanglesBusiness/bin/Debug/net6.0/RectanglesDataAccess.dll
RectanglesBusiness/bin/Debug/net6.0/RectanglesDataAccess.pdb
RectanglesUnitTests/obj/project.assets.json
RectanglesUnitTests/obj/project.nuget.cache
RectanglesUnitTests/obj/RectanglesUnitTests.csproj.nuget.dgspec.json
RectanglesUnitTests/obj/RectanglesUnitTests.csproj.nuget.g.props
RectanglesUnitTests/obj/RectanglesUnitTests.csproj.nuget.g.targets
RectanglesUnitTests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
RectanglesUnitTests/obj/Debug/net6.0/RectanglesUnitTests.AssemblyInfo.cs
RectanglesUnitTests/obj/Debug/net6.0/RectanglesUnitTests.AssemblyInfoInputs.cache
RectanglesUnitTests/obj/Debug/net6.0/RectanglesUnitTests.assets.cache
RectanglesUnitTests/obj/Debug/net6.0/RectanglesUnitTests.csproj.AssemblyReference.cache
RectanglesUnitTests/obj/Debug/net6.0/RectanglesUnitTests.GeneratedMSBuildEditorConfig.editorconfig
RectanglesUnitTests/obj/Debug/net6.0/RectanglesUnitTests.GlobalUsings.g.cs
RectanglesUnitTests/bin/Debug/net6.0/CoverletSourceRootsMapping
